# SQLite database
sql_app.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.egg-info/
.installed.cfg
*.egg

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
